<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util 
         http://www.springframework.org/schema/util/spring-util.xsd
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/mvc 
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        


	<context:component-scan
		base-package="com.springmvc" />

	<mvc:annotation-driven />
	<mvc:resources location="/WEB-INF/resources/"
		mapping="/resources/**"></mvc:resources>

	<bean name="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/*" />
			<bean class="com.springmvc.controller.AuthHandlerInceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<tx:annotation-driven />

	<bean name="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/hibernateconfig" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>


	<bean name="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
         <!-- data source -->
		<property name="dataSource" ref="ds" />

        <!-- hibernate properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>

       
         <!-- annotated classes mean entity -->
		<property name="annotatedClasses">
			<list>
				<value>com.springmvc.entity.User</value>
				<value>com.springmvc.entity.Login</value>
				<value>com.springmvc.entity.FileExcelRead</value>
				<!-- <value>com.springmvc.entity.ReportData</value> -->
			</list>
		</property>
	</bean>

	<bean name="sessionFactory"
		class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>
	</bean>

	<bean name="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="factory" />
	</bean>

	<!-- configuration multipart resolver -->
	<bean name="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

	</bean>


</beans>